@import "tailwindcss";

@layer components {
    .sidebar {
        @apply absolute z-20 left-4 top-20 p-4 rounded-md shadow-md;
    }

    .stroke-row {
        @apply z-50 rounded-md w-6 h-6 flex items-center justify-center cursor-pointer bg-gray-600;
    }

    .stroke-row:hover {
        @apply scale-[1.04];
    }

    .stroke-row::after {
        @apply opacity-0 p-1 translate-y-4 bg-black rounded-md text-xs content-[attr(data-tooltip)] top-6 transition-all ease-out duration-250;
    }

    .stroke-row:hover::after {
        @apply opacity-100 translate-y-7;
    }
}